version: "3.9"



services:

  db:

    image: postgres:16

    environment:

      POSTGRES_DB: adamsdb

      POSTGRES_USER: admin_adams

      POSTGRES_PASSWORD: adams_!@#0005==~@

    volumes:

      - postgres_data:/var/lib/postgresql/data

    networks:

      - adams_network

    restart: always



  minio:

    image: minio/minio

    command: server /data --console-address ":9001"

    environment:

      MINIO_ROOT_USER: fire_user

      MINIO_ROOT_PASSWORD: fire_pasword

    ports:

      - "9000:9000"

      - "9001:9001"

    volumes:

      - minio_data:/data

    networks:

      - adams_network

    restart: always



  web:

    build:

      context: .

      dockerfile: Dockerfile.app

    command: sh -c "python manage.py wait_for_db && python manage.py migrate && python manage.py collectstatic --noinput && gunicorn --bind 0.0.0.0:8000 --workers 4 adams.wsgi:application"

    environment:

      DB_NAME: adamsdb

      DB_USER: admin_adams

      DB_PASSWORD: adams_!@#0005==~@

      DB_HOST: db

      DB_PORT: 5432
      
      DEBUG: "false"



      MINIO_ACCESS_KEY: fire_user

      MINIO_SECRET_KEY: fire_pasword

      MINIO_BUCKET_NAME: adams

      MINIO_URL: minio:9000



      DJANGO_SECRET_KEY: django-insecure-tayrv=r+_8@ze@3(6k1hfxfo)7=q(12q6$d*!_-18*-%@*7%ht



      EMAIL_BACKEND: django.core.mail.backends.smtp.EmailBackend

      EMAIL_HOST: smtp.gmail.com

      EMAIL_HOST_USER: testadams08@gmail.com

      EMAIL_HOST_PASSWORD: "wgef ltag yozc hkjc"



    volumes:

      - staticfiles:/app/staticfiles

    depends_on:

      - db

      - minio

    networks:

      - adams_network

    restart: always

    healthcheck:

      test: ["CMD", "curl", "-f", "http://localhost:8000/health/"]

      interval: 10s

      timeout: 5s

      retries: 5

      start_period: 40s



  gateway:

    build:

      context: .

      dockerfile: Dockerfile.nginx

    ports:

      - "80:80"

    volumes:

      - staticfiles:/app/static

    depends_on:

      web:

        condition: service_healthy

    networks:

      - adams_network

    restart: always



volumes:

  postgres_data:

  minio_data:

  staticfiles:



networks:

  adams_network:

