# docker-compose.yml

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME:-adamsdb}
      POSTGRES_USER: ${DB_USER:-admin_adams}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-'adams_!@#0005==~@'}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - adams_network
    restart: always

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY:-your_username}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY:-your_pasword}
    # ports:
    #   - "9000:9000"
    #   - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - adams_network
    restart: always

  web:
    build:
      context: .
      dockerfile: Dockerfile.app
    # command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    command: sh -c "python manage.py wait_for_db && python manage.py migrate && gunicorn -b "0.0.0.0:8000" -w 4 adams.wsgi"
    environment:
      DB_NAME: ${DB_NAME:-adamsdb}
      DB_USER: ${DB_USER:-admin_adams}
      DB_PASSWORD: ${DB_PASSWORD:-'adams_!@#0005==~@'}
      DB_HOST: db
      DB_PORT: 5432
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY:-your_username}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY:-your_pasword}
      MINIO_BUCKET_NAME: ${MINIO_BUCKET_NAME:-test}
      MINIO_URL: "minio:9000"
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY:-'django-insecure-tayrv=r+_8@ze@3(6k1hfxfo)7=q(12q6$d*!_-18*-%@*7%ht'}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER:-testadams08@gmail.com}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD:-wgef ltag yozc hkjc}
      EMAIL_BACKEND: ${EMAIL_BACKEND:-django.core.mail.backends.smtp.EmailBackend}
      EMAIL_HOST: ${EMAIL_HOST:-smtp.gmail.com}
      # ALLOWED_HOSTS: 'localhost,web,0.0.0.0'
    depends_on:
      - db
      - minio
    networks:
      - adams_network
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    

  gateway:
    build: 
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "8000:80"
    depends_on:
      web:
        condition: service_healthy
    networks:
      - adams_network
    restart: always

volumes:
  postgres_data:
  minio_data:

networks:
  adams_network: