{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-6 d-flex justify-content-center position-relative">
                <!-- <img class="w-100 doctor5Img" style="object-fit: contain;" src="{% static 'assets/img/team/ADAMS STRUCTURE_20240818_204312_0000_page-0001.jpg' %}" alt="">
                <a href="#" class="glightbox mb-4"></a> -->
                <a href="{% static 'assets/img/team/ADAMS STRUCTURE_20240818_204312_0000_page-0001.jpg' %}"
                    class="glightbox mb-4">
                    <img class="w-100 doctor5Img" style="object-fit: contain;"
                        src="{% static 'assets/img/team/ADAMS STRUCTURE_20240818_204312_0000_page-0001.jpg' %}" alt="">
                </a>

            </div>

            <div class="col-xl-7 col-lg-6 px-lg-5 pt-2 icon-boxes d-flex flex-column  justify-content-center ">
                <h3 class="">Association Of Doctors and <br> Medical Students </h3>
                <p>ADAMS, Association of Doctors And Medical Students is a registered association (non-profit),
                    dedicated for serving Doctors and Medical Students who are abroad trained, Indian nationals. It
                    operates as a part of All Kerala Foreign Medical Association-AKFMA, with the aim of bringing
                    together all FMGs.

                    According to Dr.Renjith, the founder of ADAMS, the formation of this association was driven by the
                    need for an organization that advocates for the rights of every foreign medicos in the country,
                    including doctors and medical students. The association is committed to being non-profit, ensuring
                    that its focus remains solely on the welfare and protection of foreign medicos.

                    ADAMS works relentlessly towards safeguarding the rights of our community in all aspects. It
                    provides valuable guidance and support to its members through the expertise of senior doctors.

                    Membership in ADAMS is open to all Indian nationals who are abroad trained doctors & medical
                    students.

                    ADAMS cordially extends an invitation to all abroad trained doctors and medical students from India
                    to join us, the community which advocates for our rights.</p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg d-none">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-prescription2" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="inner-page.html">DOCTOR LOGIN</a></h4>
                    <p class="description">
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-pencil-square" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="inner-page.html">COMPLAINTS</a></h4>
                    <p class="description">
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6" data-wow-delay="0.1s">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-backpack4" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="inner-page.html">STUDENT LOGIN</a></h4>
                    <p class="description">
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" data-wow-delay="0.1s">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-box-arrow-in-left" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="inner-page.html">OFFICIAL LOGIN</a></h4>
                    <p class="description">
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6" data-wow-delay="0.2s">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-door-open" style="color: #d6ff22;"></i></div>
                    <h4 class="title"><a href="inner-page.html">ALLOTMENTS</a></h4>
                    <p class="description"></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6" data-wow-delay="0.2s">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
                    <h4 class="title"><a href="inner-page.html">ENQUIRY STATUS</a></h4>
                    <p class="description"></p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->

<section class="d-none">
    <div class="container">
        <h3 class="teamHeading text-center">Executive Committee Members</h3>

        <div class="row pt-4">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
                <div class="bg-white h-100 p-2 shadow m-auto max_w_260x">
                    <img src="{% static 'assets/img/team/2.jpeg' %}" alt="team member" class="team__prop">
                    <div class="d-flex align-items-end justify-content-between pt-3">
                        <div class="d-grid">
                            <h6 class="mb-1 fw_600">Dr. Amaljith A K</h6>
                            <p style="font-size: 12px;" class=" mb-0">Hon. President</p>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/" target="_blank" class="text-black px_hover_1">
                                <i class="fab fa-linkedin font_22"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
                <div class="bg-white h-100 p-2 shadow m-auto max_w_260x">
                    <img src="{% static 'assets/img/team/1.jpeg' %}" alt="team member" class="team__prop">
                    <div class="d-flex align-items-end justify-content-between pt-3">
                        <div class="d-grid">
                            <h6 style="font-weight: 600;" class="mb-1">Dr.Renjith C R</h6>
                            <p style="font-size: 12px;" class=" mb-0">Hon. Secretary</p>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in//" target="_blank" class="text-black px_hover_1">
                                <i class="fab fa-linkedin font_22"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
                <div class="bg-white h-100 p-2 shadow m-auto max_w_260x">
                    <img src="{% static 'assets/img/team/4.jpeg' %}" alt="team member" class="team__prop">
                    <div class="d-flex align-items-end justify-content-between pt-3">
                        <div class="d-grid">
                            <h6 class="mb-1 fw_600">Dr.Sajith S L</h6>
                            <p style="font-size: 12px;" class=" mb-0">Vice President</p>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/" target="_blank" class="text-black px_hover_1">
                                <i class="fab fa-linkedin font_22"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
                <div class="bg-white h-100 p-2 shadow m-auto max_w_260x">
                    <img src="{% static 'assets/img/team/3.JPG' %}" alt="team member" class="team__prop">
                    <div class="d-flex align-items-end justify-content-between pt-3">
                        <div class="d-grid">
                            <h6 class="mb-1 fw_600">Dr. Riyas Ahammed K</h6>
                            <p style="font-size: 12px;" class=" mb-0">Hon. Treasurer</p>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/" target="_blank" class="text-black px_hover_1">
                                <i class="fab fa-linkedin font_22"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
                <div class="bg-white h-100 p-2 shadow m-auto max_w_260x">
                    <img src="{% static 'assets/img/team/5.JPG' %}" alt="team member" class="team__prop">
                    <div class="d-flex align-items-end justify-content-between pt-3">
                        <div class="d-grid">
                            <h6 style="font-weight: 600;" class="mb-1">Dheerasree Janardhanan</h6>
                            <p style="font-size: 12px;" class=" mb-0">Joint Secretary</p>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in//" target="_blank" class="text-black px_hover_1">
                                <i class="fab fa-linkedin font_22"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
                <div class="bg-white h-100 p-2 shadow m-auto max_w_260x">
                    <img src="{% static 'assets/img/team/6.jpg' %}" alt="team member" class="team__prop">
                    <div class="d-flex align-items-end justify-content-between pt-3">
                        <div class="d-grid">
                            <h6 class="mb-1 fw_600">Dr. Ancy P Charles</h6>
                            <p style="font-size: 12px;" class=" mb-0">Executive Committee Member</p>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/" target="_blank" class="text-black px_hover_1">
                                <i class="fab fa-linkedin font_22"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
                <div class="bg-white h-100 p-2 shadow m-auto max_w_260x">
                    <img src="{% static 'assets/img/team/7.JPG' %}" alt="team member" class="team__prop">
                    <div class="d-flex align-items-end justify-content-between pt-3">
                        <div class="d-grid">
                            <h6 class="mb-1 fw_600">Dr. ANEETA JEWEL STEPHEN</h6>
                            <p style="font-size: 12px;" class=" mb-0">Executive Committee Member</p>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/" target="_blank" class="text-black px_hover_1">
                                <i class="fab fa-linkedin font_22"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
                <div class="bg-white h-100 p-2 shadow m-auto max_w_260x">
                    <img src="{% static 'assets/img/team/8.jpg' %}" alt="team member" class="team__prop">
                    <div class="d-flex align-items-end justify-content-between pt-3">
                        <div class="d-grid">
                            <h6 class="mb-1 fw_600">Khadeeja Sulfikar</h6>
                            <p style="font-size: 12px;" class=" mb-0">Coordinator</p>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/" target="_blank" class="text-black px_hover_1">
                                <i class="fab fa-linkedin font_22"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 pb-4">
                <div class="bg-white h-100 p-2 shadow m-auto max_w_260x">
                    <img src="{% static 'assets/img/team/9.jpeg' %}" alt="team member" class="team__prop">
                    <div class="d-flex align-items-end justify-content-between pt-3">
                        <div class="d-grid">
                            <h6 class="mb-1 fw_600">Anandhu Baiju</h6>
                            <p style="font-size: 12px;" class=" mb-0">IT Team</p>
                        </div>
                        <div>
                            <a href="https://www.linkedin.com/in/" target="_blank" class="text-black px_hover_1">
                                <i class="fab fa-linkedin font_22"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>

<script>
    const lightbox = GLightbox({
        selector: '.glightbox',
        touchNavigation: true,
        loop: true,
    });

</script>


{% endblock content %}